*{
    border: none;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

html,body{
    height: 100%;
}

body{
    font-family: sans-serif;
    background-color: black;
    color: white;
}

/*  main header rules*/

header{
background-color: red;
text-align: center;
position: sticky;
top: 0%;

}

#marvel-logo{
    width: 300px;
    max-width: 300px;
    padding: 10px 0px;
}

/* footer rules*/
footer{
    color: white;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.stickey-footer{
    position: sticky;
    top: 100%;
    background-color: rgb(40,37,37);
}